.head{
    
    background-image: url("../img/naslovna_4.jpg");
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-position:no-repeat ;
    background-size: cover;
}
.head a{
    text-decoration: none;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.head a:hover{
    background-color: rgb(96, 137, 163);
    color: white;
    text-decoration: none;
}
.shadow{
    text-shadow: 20px 24px 17px #ffff;
}
.logo{
    margin-right: 20vw;
}

.cardSingl, .cardSingl img{
    gap: 15px;
    border-radius: 15%;
    border-bottom: 10px solid orange;
}
.kolaSingl{
    background-color: white;
    width: 500px;
    height: 500px;
    border: 6px solid blue;
    box-shadow: 2px 2px 5px rgba(46, 17, 151, 0.3);
    
}
.kolaSingl img{
    width: 100%;
    height: 240px;
    
}
.kola{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url("../img/earth.jpg");
    background-attachment:fixed ;
    background-size:cover ;
    background-position: no-repeat ;
    opacity: 0.8;
}

.vh{
    height: 100vh;
}
.selectForm{
    width: 50%;
    
}
.containerContact{
    padding: 0% 15% 0% 15%;
    
}
.containerContact input{
    border: 5px solid black;
    font-size: 1rem;
}
.containerContact label{
    
    font-size: 2rem;
}
iframe{
    border: 1px double rgb(39, 144, 214);
}
.bodyContact{
    background-color: rgb(120, 211, 241);
}
@media only screen and(max-width:578px) {
    .kolaSingl{
        width: 350px;
    }
    .containerContact{
        border: none;
    }
    .head a{
        color: #ffff;
    }
    .head a:hover{
        background-color: rgb(38, 128, 212);
        text-decoration: underline;
    }
    
}
